{% extends "base.html" %}
{% load static %}  {# Carregar os arquivos estáticos corretamente #}

{% block title %}
    Listagem de Produtos | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
    <h1>Produtos</h1>
</div>
<div class="row">
    {% for product in products %}  {# Loop para exibir os produtos dinamicamente #}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="{% url 'product_detail' product.id %}">
                <img src="{% static 'img/'|add:product.image %}" alt="{{ product.name }}" />
            </a>
            <div class="caption">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p><strong>R$ {{ product.price }}</strong></p>
                <form action="{% url 'add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Comprar</button>
                </form>
            </div>
        </div>
    </div>
    {% empty %}
        <p>Nenhum produto disponível.</p>
    {% endfor %}
</div>
{% endblock %}
